<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>about</h2>
    <hr>
    <p><div id="intro_text_1">Hello, my name is Ethan and I'm a software developer.
      I've always loved creating and building things.
    </div></p>
    <p><div id="intro_text_2">I’m currently building full stack web applications with SQL and NoSQL
      databases using Ruby, Sinatra, Rails, JavaScript and Ember. Take a
      look around my website and drop me a note if you would like to get in touch.
    </div></p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Recent Blog Posts</h2>
    <hr>
      <h3><a href="https://blog.ethansteiner.com/uploading-images-and-processing-with-rmagick-348c7e47cb1e#.5xxyhry6t"><%= @post_one %></a></h3>
      <h3><a href="https://blog.ethansteiner.com/dear-binding-pry-creators-thank-you-8151e5a9dbc8#.187rh7al8"><%= @post_two %></a></h3>
      <h3><a href="https://blog.ethansteiner.com/sql-vs-nosql-879fb8684be5#.v6ck0w7xw"><%= @post_three %></a></h3>
  </div>

  <div class="col-3 homepage_content">
    <h2>Recent Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
	</div>

</div>
