<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2><div id="about_title">about</div></h2>
    <hr>
    <div id="intro_text_1">Hello, my name is Ethan and I'm a software developer.
      <br><br>
      As a former entrepreneur, I speak the language of business as well as engineering.
      Building web applications fulfills a lifelong passion of mine to create for human good.
    </div>
    <br>
    <div id="intro_text_2">I’m currently building full-stack web applications
      using Ember, React, Node, Express, Ruby, Sinatra, and Rails. I also take pride in
      being an expert with common CMS like Wordpress, Shopify, SquareSpace, and Wix.
      Take a look around my website and drop me a note if you would like to get in touch.
    </div>
    <hr>
    <div id="intro_text_3">
      <h2>I've contributed to these production sites:</h2>
      <hr>
      <ul>
        <li><a href="https://www.cococooper.com/">CocoCooper Jeans</a> - Shopify site, Lead Developer</li>
        <li><a href="http://orseundiris.com/">Orseund Iris</a> - Shopify site - Device Specific Styling</li>
        <li><a href="http://nyheadshots.com/">NY Headshots</a> - Device Specific Styling and SEO <a target="_blank" href="https://www.google.com/#q=headshots">search headshots</a></li>
        <li><a href="http://beta.zencredible.com/">Zencredible</a> - Page Styling with API data aggregation</li>
      </ul>
    </div>
  </div>
  <div class="col-2 homepage_content">
    <h2>Recent Blog Posts</h2>
    <hr>
      <h3><a href="https://blog.ethansteiner.com/implicit-wait-vs-explicit-wait-webdiver-fun-f1e43ebec954"><%= @post_one %></a></h3>
      <h3><a href="https://blog.ethansteiner.com/uploading-images-and-processing-with-rmagick-348c7e47cb1e"><%= @post_two %></a></h3>
      <h3><a href="https://blog.ethansteiner.com/sql-vs-nosql-879fb8684be5"><%= @post_three %></a></h3>
  </div>

  <div class="col-3 homepage_content">
    <h2>Recent Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
	</div>

</div>
